@model Gesprog.Models.NIVEL_DE_CONHECIMENTO
@for (int i = 0;i< Model.ListaDeNiveisDeConhecimento.Count(); i++)
{
    <div class="col-md-12">
        <h4>@Model.ListaDeNiveisDeConhecimento[i].DESC_TECNO</h4>
    </div>
    <div class="col-md-12">
        <div class="col-md-2">
            @Html.RadioButtonFor(t => t.ListaDeNiveisDeConhecimento[i].Checked, "true", new { @ng_click = "SetTecnologiasSelecionada(0, " + i + ")" })
            @Html.Label("0", new { @class = "col-md-1" })
        </div>
        <div class="col-md-2">
            @Html.RadioButtonFor(t => t.ListaDeNiveisDeConhecimento[i].Checked, "true", new { @ng_click = "SetTecnologiasSelecionada(1," + i + ")" })
            @Html.Label("1")
        </div>
        <div class="col-md-2">
            @Html.RadioButtonFor(t => t.ListaDeNiveisDeConhecimento[i].Checked, "true", new { @ng_click = "SetTecnologiasSelecionada(2," + i + ")" })
            @Html.Label("2")
        </div>
        <div class="col-md-2">
            @Html.RadioButtonFor(t => t.ListaDeNiveisDeConhecimento[i].Checked, "true", new { @ng_click = "SetTecnologiasSelecionada(3," + i + ")" })
            @Html.Label("3")
        </div>
        <div class="col-md-2">
            @Html.RadioButtonFor(t => t.ListaDeNiveisDeConhecimento[i].Checked, "true", new { @ng_click = "SetTecnologiasSelecionada(4," + i + ")" })
            @Html.Label("4")
        </div>
        <div class="col-md-2">
            @Html.RadioButtonFor(t => t.ListaDeNiveisDeConhecimento[i].Checked, "true", new { @ng_click = "SetTecnologiasSelecionada(5," + i + ")" })
            @Html.Label("5")
        </div>
    </div>
    @Html.HiddenFor(t => t.ListaDeNiveisDeConhecimento[i].NIVEL,new {@ng_model="Niveis",@ng_value="Niveis["+i+"]"})
}
